body {
    background-image: url(../image/foto.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.table-container {
    width: 50%;
    margin: 0 auto;
}

.content-table {
    font-family: 'Fjalla One', sans-serif;
}

.logo {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 100%;
    display: block;
    width: 500px;
    margin: auto;
    transition: .6s ease-in-out;
    border: 10px solid rgb(90, 19, 112);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.15) green
}

.logo:hover {
    transform: scale(1.1)
}

th.table-headings {
    text-align: center;
    font-size: 2.5rem
}

.table-headings {
    color: #009879;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.4em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    color: white;
    text-align: center;
}

.content-table thead tr {
    background-color: #14169c;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}


.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: .3s ease-in-out;

}

.content-table tbody tr:hover {
    transform: scale(1.05);
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.199);
    color: rgb(105, 0, 190);
}

tr:last-of-type {
    border-bottom: 12px solid #009879;
}

